/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.sidebar
  background #f5f7f9

.sidebar > .sidebar-links > li > a.sidebar-link.active
  background #ffffff
