/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
@import '//at.alicdn.com/t/font_2410206_kxwb6og9m5.css';

.home .hero img
  max-width 450px!important
.sidebar
  background #f5f7f9

.sidebar > .sidebar-links > li > a.sidebar-link.active, .sidebar-group > a.router-link-active
  background #ffffff
